<%= form_for(@administrator) do |f| %>
	<% if @administrator.errors.any? %>
		<div id="errorExplanation">
			<ul>
				<% @administrator.errors.full_messages.each do |msg| %>	
					<li><%= content_tag :p, msg, :class => 'status info' %></li>
				<% end %>
			</ul>
	</div>
	<% end %>
	<div class="field">
	<%= f.label :email %><br />
	<%= f.text_field :email %>
	</div>
	<div class="field">
	<%= f.label :password %><br />
	<%= f.password_field :password %>
	</div>
	<div class="field">
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
	<%= f.submit 'Valider', :id => 'login-button', :class => 'submit large round' %>
	</div>
<% end %>

<%= will_paginate @posts %>
<% @posts.each do |post| %>
<%= post.username %>
<% end %>
